<h1>******** Now your  results ********</h1>
<div id="score">
  <ul>
    <li><%= @result[:message] %></li>
    <li><%= @result[:score] %></li>
    <li><%= @result[:translation] %></li>
    <li><%= @result[:time] %></li>
  </ul>
</div>